@media (max-width:600px){
    .menu-icon-responsive{
        display: block;
    }
    .menu-container{
        display: none;
    }
    .menu-icon-responsive i:hover {
        transform: scale((1.1));
        transition: all 0.5s;
    }
    .slides div{
        width: 400px;
        border: 1px solid rgb(168, 70, 70);
    }
    .slides img{
        width: 400px;
        height: 400px;

    }
    .slide-imagens {
        height: 400px;
        height: 400px;

    }

}